 * {
     margin: 0;
     padding: 0;
     font-family: 'Montserrat', 'M PLUS 1p';
 }

 body {
     width: 100%;
     margin: 0;
     padding: 0;
     background: #fcfcfc;
 }

 header {
     background-color: #a3d2ca;
     width: 100%;
     position: fixed;
     z-index: 4;
 }

 header h1 {
     color: #FFF;
     text-align: center;
     padding: 1.5vw;
 }

 .main-img {
     width: 100%;
     position: relative;
     margin-top: 80px;
 }

 .phone-img {
     display: none;
 }

 .inner-header {
     width: 100%;
 }

 .flex {
     /*Flexbox for containers*/
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
 }

 .waves {
     width: 100%;
     height: 120px;
     margin-bottom: 20px;
     /*Fix for safari gap*/
     min-height: 100px;
     max-height: 150px;
     background-color: #fcfcfc;
 }

 /* Animation */


 .parallax > use {
     animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
 }

 .parallax > use:nth-child(1) {
     animation-delay: -2s;
     animation-duration: 7s;
 }

 .parallax > use:nth-child(2) {
     animation-delay: -3s;
     animation-duration: 10s;
 }

 .parallax > use:nth-child(3) {
     animation-delay: -4s;
     animation-duration: 13s;
 }

 .parallax > use:nth-child(4) {
     animation-delay: -5s;
     animation-duration: 20s;
 }

 @keyframes move-forever {
     0% {
         transform: translate3d(-90px, 0, 0);
     }

     100% {
         transform: translate3d(85px, 0, 0);
     }
 }



 .nav {
     width: 70%;
     border-top: 3px solid #34a1a5;
     border-bottom: 3px solid #34a1a5;
     margin: 100px auto 90px;

 }

 li {
     display: inline-block;
     padding: 10px 40px;
     margin: 30px 30px;
 }

 .nav-text {
     font-size: 30px;
     color: #34a1a5;
     text-decoration: none;
     font-weight: bold;
 }


 .nav ul {
     text-align: center;
     list-style: none;
 }

 .nav-text:active {
     color: #34a1a5;
 }


 .content-title {
     width: 150px;
     height: 4vh;
     text-align: center;
     background-color: #34a1a5;
     font-weight: bold;
     padding: 20px;
     font-size: 30px;
     color: #fcfcfc;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     z-index: 1;
 }

 .content1 {
     width: 100%;
     height: 750px;
     position: relative;
     /*     background-color: #000;*/
 }

 #content1-box {
     width: 700px;
     height: 400px;
     padding: 0px 0px 10px 20px;
     background-color: #a3d2ca;
     position: absolute;
     top: 120px;
     left: 50%;
     /*シャドウでズレてるように見える変えるならここ*/
     transform: translateX(-50%);
     box-shadow: 60px 60px 0 0 #e88531;
 }

 .news {
     float: left;
 }

 #news1 {
     margin: 60px 10px 0px;
     width: 60%;
 }

 #news2 {
     margin: 60px 10px 28px;
     width: 30%;
 }

 #content1-morebutton {
     text-decoration: none;
     color: #fcfcfc;
     font-size: 30px;
     padding: 5px 57px;
     margin-left: 10px;
     background-color: #34a1a5;
 }

 .content2 {
     width: 100%;
     height: 900px;
     position: relative;
     /*     background: #34a;*/
 }

 #content2-box {
     width: 830px;
     padding: 150px 0px 50px 40px;
     background-color: #a3d2ca;
     position: absolute;
     top: 120px;
     left: 50%;
     /*シャドウでズレてるように見える変えるならここ*/
     transform: translateX(-50%);
     box-shadow: 60px 60px 0 0 #e88531;
 }

 .content2-img {
     margin-left: 40px;
 }

 .element {
     width: 160px;
     margin: 8px;
 }

 .decoration-tag {
     width: 20%;
     position: absolute;
     top: 40px;
     left: -30px;
 }

 #content2-box h2 {
     color: #fcfcfc;
     font-size: 30px;
     position: absolute;
     top: 50px;
     right: 60px;
 }


 /*
 .caption1 {
     position: absolute;
     background-color: #34a1a5;
     height: 160px;
     width: 160px;
     opacity: 0.7;
     top: 338px;
     right: 71px;
 }



 .caption:hover {
     opacity: 0.9;
 }
*/


 .instabutton {
     text-decoration: none;
     color: #fcfcfc;
     font-size: 30px;
 }


 footer {
     background-color: #34a1a5;
     width: 100%;
     height: 200px;
 }

 footer p {
     color: #fcfcfc;
     text-align: center;
 }


 @media all and (max-width:1327px) {
     .content1 {
         height: 700px;
     }

     #content1-box {
         height: 380px;
         box-shadow: 50px 50px 0 0 #e88531;
     }

     #news1 {
         margin: 50px 10px 0px;
         width: 60%;
     }

     #news2 {
         margin: 50px 10px 27px;
         width: 30%;
     }


     .content2 {
         height: 1100px;
     }

     #content2-box {
         width: 680px;
         padding-top: 150px;
         box-shadow: 50px 50px 0 0 #e88531;
     }

     .element {
         width: 180px;
     }
 }

 @media all and (max-width:960px) {
     .nav {
         width: 80%;
     }

     .nav a {
         width: 25vw;
         padding: 10px;
         font-size: 25px;
         margin: 10px;
     }

     .content1 {
         height: 500px;
     }

     #content1-box {
         width: 500px;
         height: 270px;
         padding: 0px 10px 10px 20px;
         box-shadow: 40px 40px 0 0 #e88531;
     }

     #news1 {
         margin: 40px 10px 0px;
         width: 60%;
     }

     #news2 {
         margin: 40px 10px 21px;
         width: 30%;
     }

     #content1-morebutton {
         font-size: 20px;
         padding: 5px 43px;
         margin-left: 10px;

     }

     .content2 {
         height: 1300px;
     }

     #content2-box {
         width: 440px;
         padding: 150px 0px 50px 25px;
         box-shadow: 40px 40px 0 0 #e88531;
     }

     .content2-img {
         margin: 10px;
     }

     #content2-box h2 {
         font-size: 20px;
         right: 40px;
     }

     footer {
         height: 150px;
     }

 }

 @media all and (max-width:600px) {

     .main-img {
         display: none;
     }

     .phone-img {
         display: block;
         width: 100%;
         position: relative;
         padding-top: 20px;

     }

     .content-title {
         width: 25vw;
         padding: 5px 10px 10px;
         margin-top: 0px;
         font-size: 25px;
     }

     .content1 {
         height: 550px;
     }

     #content1-box {
         width: 250px;
         height: 335px;
         padding: 0px;
         box-shadow: 20px 20px 0 0 #e88531;
         top: 100px;
     }

     #news1 {
         margin: 20px 0px 0px 20px;
         width: 85%;
     }

     #news2 {
         margin: 20px 22px 0px 20px;
         width: 50%;
     }

     #content1-morebutton {
         font-size: 12px;
         padding: 56.5px 20px;
         margin: 0px 0px 0px 0px;
         position: absolute;
         top: 185px;
         right: 19px;
     }

     .content2 {
         height: 1350px;
     }

     #content2-box {
         width: 250px;
         padding: 60px 0px 20px 30px;
         box-shadow: 20px 20px 0 0 #e88531;
         top: 100px;
     }

     .content2-img {
         margin-left: 0px;
     }

     .delete {
         display: none
     }

     .element {
         width: 230px;
         margin: 15px 0px;
     }

     .decoration-tag {
         width: 25%;
         top: 20px;
         left: -15px;
     }

     #content2-box h2 {
         font-size: 15px;
         top: 20px;
         right: 20px;
     }

     footer {
         height: 100px;
     }

 }

 .js-animation {
     opacity: 0;
     visibility: hidden;
     transform: translateY(40px);
     transition: all 1s;
 }

 .js-animation.is-show {
     opacity: 1;
     visibility: visible;
     transform: translateY(0px);
 }
